.coba {
  color: cyan;
}

.txt-white {
  color: white;
}
.bg-nav {
  background-color: #105652;
  color: white;
}
body {
  height: 100%;
}
.bg-img {
  /* background-color: violet; */
  background-image: url("/src/img/696263.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn-warning.btn-custom {
  background-color: #ff9300;
  color: white;
}
.bg-lesu {
  background-color: #678983;
  color: white;
}
.txt-center {
  text-align: center;
}
.sidenav {
  background-image: url("../img/login-bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
